/* Ensure the body takes up the full height of the viewport */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  background-color: #292f33;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #568fb8, #292f33);
  border-radius: 15px;
  color: #ffffff;
}

.header-container h1 {
  font-size: 2rem;
  font-weight: 900;
}

.header-container p {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  max-width: 80%;
}

.imgGal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 25px;
  overflow: hidden;
  background-color: #292f33;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imgGal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  transition: 0.5s ease;
  border: 10px solid grey;
}

.imgGal img:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  border: 10px solid #d5d5d5;
}

.footer-container {
  margin-top: auto;
  padding: 20px;
  background: linear-gradient(to right, #568fb8, #292f33);
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
}

.footer-container p {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}
