@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.imgGal {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
  padding: 10px;
  border-radius: 25px;
  overflow: hidden;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imgGal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  transition: 0.5s ease;
  border: 10px solid grey;
}

.imgGal img:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  border: 10px solid #d5d5d5;
}

.breedSelect,
.numberBreed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #d5d5d5;
  transition: 0.3s ease;
}
